@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* 
  These varaiables can be used as follows
  background-color: var(--primary-color);
  
  Color Palette. 
  */

  --primary-color: #dcf763; /* For elements that needs highlighting */
  --secondary-color: #a29bfe; /* For elements that needs highlighting */
  --bg-color: #161616; /* Main background colors for large areas */
  --secondary-bg-color: #282828; /* Background color for cards & small background areas */
  --heading-color: #ffffff; /* Color for h1...h6 & texts that needs emphasis */
  --text-color: #a7aab4; /* Color for long texts like paragraphs */

  /* Spacing & Borders */
  --padding-md: 20px;
  --border-radius: 8px;

  /* Typography */
  --font-primary: "Poppins"; /* Font for h1...h6 & texts that needs emphasis */
  --font-text:
    "Trebuchet MS", Arial, sans-serif; /* Font for long texts like paragraphs */
}

[data-theme="light"] {
  --secondary-color: #a29bfe; /* For elements that needs highlighting */
  --bg-color: #fff; /* Main background colors for large areas */
  --secondary-bg-color: #fefefe; /* Background color for cards & small background areas */
  --heading-color: #ffffff; /* Color for h1...h6 & texts that needs emphasis */
  --text-color: #a7aab4; /* Color for long texts like paragraphs */
}

/* CSS Reset */

/* *:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

/* CSS Reset */

/* Sibebar & view container styling */

main {
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  height: 100vh;
}

aside {
  width: 15%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav div {
}

#view {
  background-color: var(--secondary-bg-color);
  width: 85%;
  margin: 30px;
  border-radius: 20px;
}
